#reading.jpg
{
    height: 60px;
    width: 75px;
}
#CCoding.webp
{
    height: 60px;
    width: 75px;
}
#code.jpg
{
    height: 60px;
    width: 75px;
}
#drawing.jpg
{
    height: 60px;
    width: 75px;
}
#openbook.jpg
{
    height: 60px;
    width: 75px;
}
#origami.jpg
{
    height: 60px;
    width: 75px;
}
.body
{
    background-color: #bcaded;
}
